body{   
    font-family: 'Montserrat', sans-serif;
    margin: 0 -15px;
}
header {
    height: 967px;
    background-image: url(../image-austera/back-header.jpg);
    background-position: center center;
}

header div.menu {
    height: 134px;
    background: rgba(0, 0, 0, 0.4);
}

header div.menu a img {
    display: block;
    padding-top: 50px;
    margin-left: 100px;
}
header nav ul {
    list-style-type: none;
    padding-right: 50px;
}
header nav ul li {
    display: inline-block;
    margin-right: 50px;
    margin-top: -25px;
}
header nav ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
header nav ul li a:hover{
    color: #39b9ef;
    text-decoration: underline;
}
header div.call-to h1{
    margin-top: 250px;
    margin-bottom: 0px;
    text-align: center;
    color: #fff;
    font-size: 72px;
    font-weight: bold;
}
header div.call-to h1 span{
    color:#2ebaee;
}
header div.call-to p {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}
header div.call-to a{
    display: block;
    height: 50px;
    width: 215px;
    background-color: #2ebaee;
    color: #fff;
    border-radius: 30px;
    text-align: center;
    margin: 0 auto;
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}